<!-- The content below is only a placeholder and can be replaced.
<div class="col-12">
 <div style="background-color: beige; float: left; width: 300px; height: 300px;">
  <app-class></app-class></div>
  
 <div style="background-color: beige; float: left; width: 300px; height: 300;">
  <app-btn></app-btn>
</div>
<div style="background-color: beige; float: left; width: 300px; height: 300px;">
  <h2> command line created</h2>
  <app-test2></app-test2>

</div>
<div style="float:left;"><app-bind></app-bind></div>

<div style="background-color: rgb(160, 160, 14); float: left; width: 300px; height: 300px;"><app-model></app-model></div>

<div style="float: left;"> <app-listview></app-listview></div> 


<div style="float: left;"><app-listview02></app-listview02></div>
</div> -->
<app-header></app-header>
<app-stickies></app-stickies>


